services:
  php:
    build:
      context: .
      target: dev
      args:
        APP_USER_ID: 1000
        APP_USER_NAME: appuser
    restart: on-failure
    ports:
      - "8080:8080"
    volumes:
      - .docker/php/php.ini:/usr/local/etc/php/conf.d/app-overrides.ini
      - ./:/app/
      - home_appuser:/home/appuser/
    environment:
      PHP_IDE_CONFIG: "serverName=dev"
    working_dir: /app
    tty: true
    networks:
      devapp:
    extra_hosts:
        - host.docker.internal:host-gateway

  rabbitmq:
    image: rabbitmq:4.2.0-management
    restart: on-failure
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_mnesia:/var/lib/rabbitmq/mnesia
    environment:
      RABBITMQ_DEFAULT_USER: demo
      RABBITMQ_DEFAULT_PASS: demo
    networks:
      devapp:

  k6:
    image: grafana/k6
    volumes:
      - .docker/k6/:/scripts/
    entrypoint: tail -f /dev/null
    tty: true

networks:
  devapp:
    name: devapp

volumes:
  home_appuser:
  rabbitmq_mnesia:
